
{% extends 'index.html'%}

{%block menu%}
{{block.super}}
<body>
	<div id="menu">
		<ul>
			<li><a href="/compra_vapor/adiciona_fonteecv/">Voltar</a></li>
		</ul>
	</div>
</body>
<hr>
{%endblock menu%}


{%block content%}
<ul>
	<ul>		
		<h3>	Resumo ECV - Emissão por compra de vapor </h3>
		<h3> 	Total de emissões por compra de vapor </h3>		 		 
		<table border=1 >
		<tr>
		<td>  </td> 								<td>       CO2 (kg)       </td><td>CH4 (kg)</td><td>N2O (kg)</td>
		</tr>
		<tr>
		<td> Emissões totais de combustíveis Fósseis 	 </td> <td>{{totalfossilco2}}  </td> <td>  {{totalfossilch4}}</td> <td>{{totalfossiln2o}}</td>
		<tr>
		<td> Emissões totais de combustíveis Não-Fósseis  </td> <td>{{totalbioco2}}  </td> <td>  {{totalbioch4}}</td> <td>{{totalbion2o}}</td>
		</tr>
		</tr>
		
		</table>
		
		_________________________________________________________________________</br></br>		
		  
		 <table border=1 >
		
		<tr>
		<td bgcolor='blue' > Emissões  Totais de CO2 - Equivalente (toneladas métricas)  </td> <td bgcolor='blue'> <strong>{{emissoes_equivalentes}}</strong> </td>
		</tr>
		<tr>
		<td bgcolor='green'> Emissões  Totais de CO2 de Biomassa - Equivalente (toneladas métricas)  </td> <td bgcolor='green'> <strong> {{emissoes_biomassa}} </strong> </td>
		</tr>
		</table>
		</br></br>
		<a  href =""> <input type="submit" value="Salvar Resultado" class="button"></a></p>


		
		 	
		
		   	 


{%endblock content%}

