{% extends 'index.html'%}

{%block menu%}
{{block.super}}
<body>
	<div id="menu">
		<ul>
			<li><a href="/compra_energia/adiciona_fonteece/">Voltar</a></li>
		</ul>
	</div>
</body>
<hr>
{%endblock menu%}

{%block content%}
<h3>Lista de emissões por compra de energia elétrica</h3>
<ul>
{%for item in lista_itens %}
	<li>    
			<a href="/compra_energia/calcula_ece/{{item.id}}">
		    	<img src="{{STATIC_URL}}image/calcular.png"/>
			</a>
			
			<a href="/compra_energia/edita_ece/{{item.id}}">
		    	<img src="{{STATIC_URL}}image/editar.png"/>
			</a>		
			Inventário.: {{item.inventario}} 
			
	</li>

{%empty%}
	<li>Nenhum Relato de Emissão</li>
{%endfor%}
</ul>
{%endblock content%}
